v1/config.php
.vscode
.github
.qodo
v1/webhooks/data/POST/*.json
v1/webhooks/data/GET/*.json
v1/webhooks/data/PUT/*.json
v1/webhooks/data/DELETE/*.json
v1/webhooks/logs/*.json
v1/webhooks/queue/*.json
v1/webhooks/queue.lock
v1/webhooks/logs/*.json
